# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## overview

# Some of the popular languages that Data Scientists use are:
+ Paython
+ R
+ C++

# Some of the commonly used libraries used by Data Scientists include:
+ matplot
+ pandas
+ tensor flow
+ pytorch 
+ keras
+ seaborn

|Data Science Tools|
|------------------|
|power Bi|
|jupyter|
|pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
2+2

4

In [5]:
4*8

32

In [6]:
22-4

18

In [7]:
12/4

3.0

In [10]:
# In this code cell evaluate the expression (3*4)+5

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# In this code cell write an expression that converts 200 minutes into hours

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
+ paython
+ java
+ R
+ SQL
+ C++
+ java Script

## Author
ArQam Bashir